<!DOCTYPE html>
<html>
  <head>
    <title>Talks</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/css/uikit.min.css" />
  </head>
  <body>
    <table class="uk-table uk-table-hover uk-table-striped">
      <thead>
        <tr>
          <% for(var i=0; i<count.length; i++) {%>
          <th>
            <%= count[i]._id.type %>
          </th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% for(var i=0; i<count.length; i++) {%>
          <td>
            <%= count[i].count %>
          </td>
          <% } %>
        </tr>
      </tbody>
    </table>
    <br>
    <br>
    <a href="/rmpcl6">基本刪除</a>
    <br>
    <br>
    <table class="uk-table uk-table-hover uk-table-striped">
      <thead>
        <tr>
          <th>刪除</th>
          <th>次數</th>
          <th>內容</th>
        </tr>
      </thead>
      <tbody>
        <form action='/rmpcl6/deletes' method="post">
          <% for(var i=0; i<talks.length; i++) {%>
          <tr>
            <td>
              <input type="checkbox" name="messages[]" value='<%= talks[i].message %>'></input>
            </td>
            <td>
              <%= talks[i].message %>
            </td>
            <td>
              <%= talks[i].count %>
            </td>
            <% } %>
          </tr>
        </tbody>
      </table>
      <input type="submit" value="Delete">
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/js/uikit.min.js"></script>
  </body>
</html>